
@font-face {
  font-family: 'Graphik';
  src: url('/src/assets/fonts/Medium/Graphik-Medium.woff2') format('woff2'),
    url('/src/assets/fonts/Medium/Graphik-Medium.ttf') format('ttf'),
    url('/src/assets/fonts/Medium/Graphik-Medium.woff') format('woff');
  font-weight: 600;
  font-style: normal;

}

@font-face {
  font-family: 'GraphikBolt';
  src: url('/src/assets/fonts/SemiBold/Graphik-Semibold.ttf') format('ttf'),
    url('/src/assets/fonts/SemiBold/Graphik-Semibold.woff') format('woff'),
    url('/src/assets/fonts/SemiBold/Graphik-Semibold.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

body {
  width: 99%;
  background-color: #000000;
}

.ContactButtonsHeaderChange {
  display: none;
}

#root {
  width: 99%;
}

.mainDiv {
  width: 100%;
  height: 100%;
}

.AboutMainWraper {
  display: flex;
  flex-direction: column;
  background-color: rgb(0, 0, 0);
  z-index: -999;
  width: 100%;
  height: 100%;
}

.MainPageWraper {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: black;
}

.WorkMainWraper {
  width: 100%;
}

.WorkContent {
  padding-left: 5%;
  width: 90%;
}

.ContactMainWraper {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  background-color: black;
}

.ContactHeaderWraper {
  margin-top: 75px;
  margin-bottom: 75px;
  text-align: center;
}

.ContactHeader {
  color: white;
  font-family: 'GraphikBolt';
  font-size: 103px;
}

.BackBotton {
  font-size: 30px;
  text-align: right !important;
}

.ContactArticle {
  width: 100%;
  height: 100%;
  align-items: center;

}

.ContactArticleHeader {
  font-family: 'GraphikBolt';
  color: white;
  font-size: 40px;
  width: 70%;
  margin-left: 20%;
}

.ContactArticleText {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 65%;
  margin-left: 20%;
  font-family: 'Graphik';
  color: white;
  font-size: 18px;
}

.AboutHeaderWraper {
  margin-top: 15%;
  max-width: 100%;
  text-align: center;
}

.AboutHeader {
  font-family: 'Graphik';
  color: white;
  font-size: 126px;
}

.contentWraper{
  margin-top: 45px;
  display: flex;
  flex-direction: row;
}


.legend{
  font-size: 18px;
  font-family: 'GraphikBolt';
  color: white;
}

.sliderImg{
  width: 100%;
}

.MysliderWraper{
  padding: auto;
  width: 70%;
  margin-left: 5%;
}


.article {
  margin: auto;
  width: 55%;
  color: white;
  text-align: left;
  font-family: 'Graphik'
}

.paragraph {
  font-size: 18px;
  margin-top: 15px;
}

.articleHeader {
  font-size: 40px;
}

.resumeUrlWraper {
  margin-top: 45px;
  text-align: left;
}

.resumeUrl {
  font-family: 'GraphikBolt';
  color: #EA0F1E;
  text-decoration: none;
  font-size: 20px;
}

.mainParagraph {
  margin-top: 35px;
  font-size: 24px;
  margin-bottom: 35px;
}


.BackUrl {
  text-decoration: none;
  font-family: 'Graphik';
  color: white;
  margin-right: 10%;
}

.Buttons_wraper {
  display: flex;
  max-width: 98%;
  cursor: pointer;
}

.Text_wraper {
  display: inline-block;
  text-align: left;
  overflow: hidden;
  vertical-align: top;
  z-index: 0;
  transition-duration: 0.5s;
  max-height: auto;
}

.Buttons_wraper:hover {
  .Text_wraper {
    transition-duration: 0.5s;
    margin-left: 12%;
  }
}

.ContactButtonsWraper {
  margin-bottom: 25px;
  width: 45%;
}

.ContactButtonsTextWraper {
  cursor: pointer;
}

.ContactButtonsTextWraper:hover {
  .ContactButtonsHeader {
    transition-duration: 0.5s;
    margin-left: 12%;
  }
}

.ContactButtonsHeader {
  transition-duration: 0.5s;
}

.minH {
  max-height: 0vh;
}

.maxH {
  max-height: 500vh;
  transition: 9s;
}

.ContactButtonsBlock {
  width: 65%;
  margin-left: 20%;
  font-family: 'Graphik';
  color: rgb(250, 2, 2);
  font-size: 18px;

}

.NotFoundBlock {
  color: red;
  text-align: center;
  align-items: center;
  font-size: 150px;
}

.WorkPageMainWraper{
  position: absolute;
  left: 25px;
  right: 25px;
  top: 0;
}

.ContentWraper {
  background-color: rgba(127, 255, 212, 0);
  min-height: 40vh;
  padding-left: 15%;
}

.Button_Comment {
  margin-top: -75px;
  color: red;
  font-size: 18px !important;
}

.Button_Header {
  font-family: 'GraphikBolt';
}

.Font102 {
  font-size: 102px;
}

.Font98 {
  font-size: 98px;
}

.Font85 {
  font-size: 85px;
}

.Font27{
  font-size: 27px;
}

.Font18 {
  font-size: 18px;
}

.ColorWhite {
  color: white;
  text-decoration-color: white !important;
}

.ColorRed {
  color: red;
  text-decoration-color: red !important;
}

@media screen and (max-width: 750px) {
  .Button_Header{
    font-size: 65px !important;
    margin-bottom: 75px;
  }
  .ContactHeader{
    font-size: 55px !important;
  }
  .Buttons_wraper{
    margin-bottom: 55px;
  }
  .ContactButtonsHeader{
    font-size: 25px;
  }
}